.container {
  position: relative;
}

.hover-div {
  background-color: lightblue;
  padding: 10px;
  cursor: pointer;
}

.hidden-div {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: lightgray;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  display: grid;
  grid-template-rows: repeat(10, auto);
  z-index: 1;
}

.container:hover .hidden-div {
  visibility: visible;
  opacity: 1;
}